.footerContainer {
    height: 2.5rem;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    background: transparent;
    color: #9ca3af;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    gap: 0.5rem;
    font-family: "Winky Rough", system-ui;
    backdrop-filter: blur(20px);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-size: 0.875rem;
    color: #9ca3af;
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    color: #9ca3af;
}

.footerLink {
    color: #9ca3af;
    text-decoration: none;
    font-size: 0.875rem;
    transition: color 0.2s ease-in-out;
}

.footerLink:hover {
    color: #060606;
    transform: scale(1.05);
}