.productPage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 19rem), 1fr));
    gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;

    overflow-y: auto;
    height: min(10rem, 100%);
}